body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Helvetica, Arial;
  overflow: hidden; }

header {
  text-align: center;
  display: block;
  width: 100%;
  background-color: lightgrey; }
  header div.container {
    padding-left: 0;
    padding-right: 0; }
  header h1 {
    margin: 0;
    padding-left: 2%;
    font-family: fantasy, sans-serif, Helvetica, Arial; }
    header h1 span.header-name-start {
      color: #2B80D9;
      vertical-align: sub; }
    header h1 span.header-name-end {
      color: #24A80C;
      vertical-align: sub; }
  header img.header-logo {
    float: left;
    width: 50px;
    height: 55px; }
  header .navbar {
    font-size: 21px;
    padding: 0.5rem 0.5rem; }
    header .navbar li.nav-item {
      padding-left: 56px; }

section.bottom-container {
  width: 100%;
  padding: 52px 30px;
  box-sizing: border-box;
  display: inline-block;
  overflow: auto; }
  section.bottom-container div.input-group div.form-control {
    -webkit-border-top-right-radius: 0.25rem;
    -moz-border-top-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    -webkit-border-bottom-right-radius: 0.25rem;
    -moz-border-bottom-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0; }

section.bottom-container.favList {
  display: none; }
  section.bottom-container.favList div.form-control {
    -webkit-border-top-right-radius: 0.25rem;
    -moz-border-top-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    -webkit-border-bottom-right-radius: 0.25rem;
    -moz-border-bottom-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0 0.55rem; }
    section.bottom-container.favList div.form-control input {
      width: 100%;
      height: 100%;
      padding: 0 0.55rem; }

div.main-container div.form-control {
  -webkit-box-shadow: 0 0 4px #555;
  -moz-box-shadow: 0 0 4px #555;
  box-shadow: 0 0 4px #555;
  padding: 0; }
  div.main-container div.form-control .list-textbox {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 0.55rem; }
    div.main-container div.form-control .list-textbox:hover {
      cursor: pointer; }

section.bottom-container.newFolders {
  display: none; }

footer {
  display: table;
  text-align: center;
  width: 100%; }
  footer .add-category-button-container {
    padding: 2%;
    display: table-cell;
    text-align: center;
    vertical-align: bottom; }
    footer .add-category-button-container .addCat {
      width: 90%; }

div.list-container {
  padding: 10px;
  margin-top: 1%;
  height: 100%;
  overflow: auto;
  max-height: 475px;
  background-color: #eee;
  border: 1px solid #dedede; }
  div.list-container div.input-container {
    padding: 10px; }
    div.list-container div.input-container .fa {
      font-size: 24px;
      padding: 7px; }
      div.list-container div.input-container .fa:hover {
        cursor: pointer; }
  div.list-container .list-textbox {
    width: 100%;
    height: 100%;
    padding: 0 0.55rem;
    border: none; }
  div.list-container .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: unset;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 0rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #eee;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem; }

.alert, .success, .warning {
  border: 1px solid #999;
  margin: 10px 0;
  padding: 20px;
  text-transform: uppercase;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.success {
  background: #4caf50; }

.warning {
  background: #fc3; }

/*# sourceMappingURL=app.css.map */
