section.bottom-container
  width: 100%
  padding: 52px 30px
  box-sizing: border-box
  display: inline-block
  overflow: auto
  div.input-group div.form-control
    +border-rad(.25rem)
    padding: 0

section.bottom-container.favList
  display: none
  div.form-control
    +border-rad(.25rem)
    padding: 0 .55rem
    input
      width: 100%
      height: 100%
      padding: 0 0.55rem
div.main-container div.form-control
  +border(0 0 4px #555)
  padding: 0
  .list-textbox
    text-align: center
    width: 100%
    height: 100%
    padding: 0 0.55rem
    &:hover
      cursor: pointer

section.bottom-container.newFolders
  display: none
